<h2><%= @recipe.title%></h2>
<p>by: <%= @recipe.user.username %></p>
<p><%= @recipe.description %></p>
<br>
<p>Ingredientes necesarios:</p>
<ul>
  <% @recipe.ingredient.each do |ing| %>
    <li><%= ing.name %></li>
  <% end %>
</ul>
