  <% if obj_to_check.errors.any? %>
	  <div id="error_explanation">
	    <h3>There were some errors:</h3>
	    <ul>
	      <% obj_to_check.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>