<h2>Welcome to Gastronomicon</h2>
<% if !@recipes.empty? %>
  <% @recipes.recent.each do |r| %>
    <h3><%= r.title %></h3>
    <p>by: <%= r.user.username %></p>
  <% end %>
<% else %>
  <p>There are currently no recipes to display</p>
<% end %>
<br>
<% if !logged_in?%>
  <p>Please <%= link_to "Sign Up", signup_path %> of <%= link_to "Log In", login_path %> so see more recipes.</p>
<% end %>